@using TCSA.Models;
<div class="col-xl-1 col-lg-1 text-center">
    <img class="rounded-circle img-thumbnail projects" src="img/@Article.IconUrl" />
    <p>@Article.Title</p>
</div>

@code {
    [Parameter] public Article Article { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        
    }
}

<style>
    .card-slot {
        margin-bottom: 10px;
    }

    .card-img-top {
        max-width: 100px;
    }

    .card {
        border: none;
        padding: 30px 0;
        min-height: 100%;
        width: 100% !important;
    }

    .card-title {
        font-size: 20px;
        font-family: Roboto;
        color: #1C236D;
        font-weight: 600;
    }
</style>
