@using TCSA.Models;

@inject HttpClient Http

<div class="col-xl-1 col-lg-1 text-center">
    <img class="rounded-circle img-thumbnail @(IsComplete ? "complete-project" : "incomplete-project")" src="img/@Project.IconUrl" />
    <p>@Project.Title</p>
</div>

@code {
    [Parameter] public bool IsComplete { get; set; }
    [Parameter] public Project Project { get; set; }
}

<style>
    .card-slot {
        margin-bottom: 10px;
    }

    .card-img-top {
        max-width: 100px;
    }

    .card {
        border: none;
        padding: 30px 0;
        min-height: 100%;
        width: 100% !important;
    }

    .card-title {
        font-size: 20px;
        font-family: Roboto;
        color: #1C236D;
        font-weight: 600;
    }

    .incomplete-project {
        max-width: 80px;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .complete-project {
        max-width: 80px;
    }
</style>
