@inherits LayoutComponentBase

<PageTitle>TCSA</PageTitle>

<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg bg-light shadow fixed-top">
            <div class="container container-nav">
                <a class="navbar-brand" href="#">
                    <img width="50" src="https://www.thecsharpacademy.com/wp-content/uploads/2021/12/imageedit_2_9777006082-removebg-preview-150x150.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <img width="50" src="https://css-tricks.com/wp-content/uploads/2012/10/threelines.png" />
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end">
                        <LoginDisplay />
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://www.youtube.com/channel/UCUb14APzNlpUcDElcCEw5OA">Youtube</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://www.youtube.com/channel/UCUb14APzNlpUcDElcCEw5OA">My Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://discord.gg/bNKkT49H">Discord</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .nav-link {
        font-size: 20px;
    }
</style>